@import url(https://fonts.googleapis.com/css?family=Muli:300,400,700&display=swap);
* {
  font-family: "Muli", sans-serif;
}

* {
  overflow-y: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

::-webkit-scrollbar {
  display: none;
}

textarea {
  resize: none;
}

body {
  background-color: white;
  margin: 0;
}

.container {
  margin: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  background-color: white;
  width: 1245px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-logo {
  width: 196px;
  height: 70px;
  margin-top: 35px;
  margin-bottom: 33px;
  margin-right: 148px;
}

.navicon {
  display: none;
}

.nav-links {
  margin-right: 115px;
  margin-top: 35px;
  width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.nav-links a {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 20px;
  font-family: "Muli", sans-serif;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
  padding: 0;
  text-align: left;
  vertical-align: top;
}

.nav-links a:hover {
  color: #6764cb;
}

.menu-1 {
  margin-left: 52px;
}

.menu-2 {
  margin-left: 53px;
}

.menu-3 {
  margin-left: 46px;
}

.menu-4 {
  margin-left: 47px;
}

.language-menu {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 54px;
  width: 136px;
  margin-top: 43px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: solid 1px #b7b7b7;
  border-radius: 10px;
}

.options {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 100%;
  margin-left: 5px;
  cursor: pointer;
}

.option {
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.flag-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.pl-span {
  margin-top: 10px;
  font-family: "Muli", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #b7b7b7;
}

.pl-flag {
  margin-top: 17px;
  margin-left: 12px;
  width: 28px;
  height: 17px;
}

.pl-arrow {
  cursor: pointer;
  margin-right: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.portfolio {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  -ms-grid-rows: 23.85vw 23.85vw 23.85vw;
      grid-template-rows: 23.85vw 23.85vw 23.85vw;
      grid-template-areas: "one one two three" "four five six seven" "eight nine ten ten";
}

.portfolio-img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio-img-1 {
  background-image: url(../img/pf1.png);
}

.portfolio-img-2 {
  background-image: url(../img/pf2.png);
}

.portfolio-img-3 {
  background-image: url(../img/pf3.png);
}

.portfolio-img-4 {
  background-image: url(../img/pf4.png);
}

.portfolio-img-5 {
  background-image: url(../img/pf5.png);
}

.portfolio-img-6 {
  background-image: url(../img/pf6.png);
}

.portfolio-img-7 {
  background-image: url(../img/pf7.png);
}

.portfolio-img-8 {
  background-image: url(../img/pf8.png);
}

.portfolio-img-9 {
  background-image: url(../img/pf9.png);
}

.portfolio-img-10 {
  background-image: url(../img/pf10.png);
}

.portfolio-img-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: one;
}

.portfolio-img-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: two;
}

.portfolio-img-3 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: three;
}

.portfolio-img-4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: four;
}

.portfolio-img-5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: five;
}

.portfolio-img-6 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: six;
}

.portfolio-img-7 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: seven;
}

.portfolio-img-8 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: eight;
}

.portfolio-img-9 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: nine;
}

.portfolio-img-10 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: ten;
}

.icons {
  margin: 93px auto;
  margin-bottom: 89px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (11vw)[5];
      grid-template-columns: repeat(5, 11vw);
  -ms-grid-rows: (11vw)[2];
      grid-template-rows: repeat(2, 11vw);
  grid-column-gap: 46px;
  grid-row-gap: 45px;
}

.icon-container {
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-container .picture {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  height: 100%;
}

.icon-container:nth-child(odd) {
  background-color: #e6e6e6;
}

.icon-container:nth-child(even) {
  background-color: #f6f6f6;
}

.picture-3 {
  margin-left: 20px;
}

.picture-6 {
  margin-left: 12px;
}

.picture-8 {
  margin-left: 12px;
}

.picture-9 {
  margin-left: 12px;
}

.picture-10 {
  margin-left: 10px;
}

.contact {
  width: 100%;
  background-color: #6764cb;
  background-image: radial-gradient(#808bdb, #645fc9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact h1 {
  margin-top: 50px;
  margin-bottom: 13px;
  color: white;
  font-family: "Muli", sans-serif;
  font-size: 48px;
  font-weight: 700;
}

.contact .rectangle {
  width: 68px;
  height: 5px;
  background: white;
  border-radius: 25px;
}

.contact form {
  margin-top: 41px;
}

.contact .name-label {
  margin-left: 21px;
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}

.contact select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-position: 95% 50%;
  background-repeat: no-repeat;
  background-image: url(../img/arrow.svg);
  cursor: pointer;
}

.contact option {
  cursor: pointer;
}

.contact select::-ms-expand {
  display: none;
}

.contact .form-select {
  margin-top: 20px;
  height: 60px;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: select;
}

.contact .form-mail {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: mail;
}

.contact .form-radio {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: radio;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
}

.contact .form-radio label {
  font-size: 16px;
}

.contact .radio {
  margin-right: 18px;
  margin-bottom: 16px;
  padding-left: 40px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.contact .radio input[type="radio"] {
  display: none;
}

.contact .radio span {
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: 0;
  top: 0px;
}

.contact .radio span:after {
  content: "";
  height: 8px;
  width: 8px;
  background: #000;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  -webkit-transition: 200ms ease-in-out 0s;
  transition: 200ms ease-in-out 0s;
}

.contact .radio input[type="radio"]:checked ~ span:after {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.contact input[type="checkbox"] {
  position: relative;
  top: 0px;
  left: 7px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  -webkit-appearance: none;
  outline: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.contact input[type="checkbox"]:before {
  content: "\2714";
  position: absolute;
  color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 5px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .3s;
  transition: .3s;
}

.contact input:checked[type="checkbox"]:before {
  color: #000;
}

.contact .form-message {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: message;
}

.floating-label-field {
  margin-top: 27px;
  height: 60px;
}

.floating-label {
  top: 38px;
}

.floating-textarea {
  margin-top: 32px;
  padding: 0 0 0 20px;
  height: 246px;
}

.input-container {
  margin-top: 7px;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 10px;
  -ms-grid-columns: 500px 500px;
      grid-template-columns: 500px 500px;
  -ms-grid-rows: 87px 87px 170px;
      grid-template-rows: 87px 87px 170px;
      grid-template-areas: "firstName select" "mail message" "radio message";
}

.input-container input,
.input-container textarea,
.input-container select,
.input-container optgroup {
  padding-left: 20px;
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-size: 20px;
  border-style: none;
  border-radius: 10px;
}

.form-name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: firstName;
  position: relative;
}

.submits-container {
  margin-top: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.approval {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-left: -18px;
  color: white;
  font-weight: 300;
  font-size: 16px;
}

.check-text {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25px 1fr;
      grid-template-columns: 25px 1fr;
  grid-column-gap: 25px;
}

.button {
  margin-top: 53px;
  margin-bottom: 80px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
  width: 396px;
  height: 81px;
  background: transparent;
  color: #fff;
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 30px;
  border: 3px solid #fff;
  border-radius: 10px;
}

footer {
  margin-top: 76px;
  width: 100%;
  height: 302px;
  background-color: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-container {
  margin-top: 80px;
  width: 1242px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-logo {
  margin-top: 32px;
  width: 196px;
  height: 70px;
}

.social-media {
  margin-left: -8px;
  margin-top: 14px;
  width: 314px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-media-icon {
  cursor: pointer;
}

.newsletter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.newsletter-span {
  font-size: 16px;
  font-weight: 700;
}

.newsletter-button {
  cursor: pointer;
  margin-top: 25px;
  margin-left: 4px;
  background-color: #6764cb;
  width: 363px;
  height: 81px;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.button-text {
  margin-left: -4px;
}

.brake {
  display: none;
}

.icons-mobile {
  display: none;
}

@media (max-width: 1272px) {
  body {
    min-width: 360px;
    width: 100%;
  }
  .wrapper {
    width: 100%;
  }
  nav {
    width: 100%;
    min-width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-buttons {
    width: 100%;
    min-width: 300px;
    height: 120px;
    margin: auto 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-logo {
    margin: 33px 0 37px 30px;
    width: 150px;
    height: 54px;
  }
  .navicon {
    display: inherit;
  }
  #nav-icon {
    z-index: 2;
    width: 35px;
    height: 30px;
    position: relative;
    margin: 45px 30px 30px auto;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  #nav-icon span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #000000;
    border-radius: 4px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  #nav-icon span:nth-child(1) {
    top: 2px;
  }
  #nav-icon span:nth-child(2), #nav-icon span:nth-child(3) {
    top: 12px;
  }
  #nav-icon span:nth-child(4) {
    top: 22px;
  }
  #nav-icon.open span:nth-child(1) {
    top: 20px;
    width: 0%;
    left: 50%;
  }
  #nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #nav-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  .nav-links {
    margin: 40px 0 0 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    opacity: 1;
    -webkit-transition: all .3s, opacity 1s ease-in-out;
    transition: all .3s, opacity 1s ease-in-out;
  }
  .nav-links a {
    font-size: 30px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0 0 22px 0  !important;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .hidden {
    margin-top: -480px;
    opacity: 0;
  }
  .language-menu {
    margin: 40px 45px 75px 45px;
    width: calc(100% - 90px);
    height: 65px;
    z-index: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
  }
  .flag-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-right: 25px;
  }
  .pl-span, .pl-flag, .pl-arrow {
    margin: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .pl-span {
    margin-left: 10px;
  }
  .pl-flag {
    margin-left: 20px;
  }
  .pl-arrow {
    margin-right: 10px;
  }
  .portfolio {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: (50vw)[5];
        grid-template-rows: repeat(5, 50vw);
        grid-template-areas: "one one" "two three" "four five"  "ten ten" "six seven";
  }
  .contact {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact h1 {
    margin-left: -1px;
    margin-bottom: 16px;
    font-size: 36px;
  }
  form {
    margin-top: 45px !important;
    margin-left: 30px;
    margin-right: 30px;
    width: calc(100% - 60px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-name,
  .form-select,
  .form-mail,
  .form-message {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 60px;
    font-size: 20px;
  }
  .input-container {
    display: -ms-grid;
    display: grid;
    grid-row-gap: 17px;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 80px 80px auto 80px auto;
        grid-template-rows: 80px 80px auto 80px auto;
        grid-template-areas: "firstName" "mail" "radio" "select" "message";
  }
  .form-name,
  .form-select,
  .form-radio,
  .form-mail,
  .form-message {
    width: 100%;
  }
  .form-radio {
    margin-top: -13px !important;
    margin-left: 16px;
    margin-bottom: 0px;
  }
  .form-radio p {
    margin-bottom: 25px;
    font-size: 20px;
  }
  .form-radio label {
    margin-bottom: 5px;
    font-size: 14px;
  }
  .form-message {
    height: 266px !important;
  }
  .floating-textarea {
    height: 244px;
  }
  .form-select {
    margin-top: 4px !important;
  }
  .form-message {
    margin-top: -10px;
  }
  .floating-label {
    top: 36px;
  }
  .floating-label-field:focus + .floating-label,
  .floating-label-field:valid + .floating-label {
    -webkit-transform: translate3d(0, -40px, 0) !important;
            transform: translate3d(0, -40px, 0) !important;
  }
  .submits-container {
    margin: 55px auto 0 auto;
    width: 500px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .button {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 81px;
    width: 265px;
    margin-top: 50px;
    margin-bottom: 73px;
    font-size: 24px;
  }
  footer {
    margin-top: 69px;
    width: 100%;
    height: 558px;
  }
  .footer-container {
    margin-top: 55px;
    margin-left: 46.5px;
    margin-right: 46.5px;
    width: calc(100% - 93px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-logo {
    margin-top: 0;
    margin-left: -5px;
    width: 196px;
    height: 70px;
    margin-bottom: 70px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .social-media {
    width: 267px;
    height: 41px;
    margin: 3px 0 100px 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .social-media-icon {
    width: 41px;
    height: 41px;
  }
  .social-media-icon:last-child {
    width: 50px;
    height: 31px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .newsletter-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .newsletter-span {
    width: 200px;
    text-align: center;
    margin-bottom: 25px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .newsletter-button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #000;
    width: 267px;
    height: 81px;
    margin: 0 0 75px 0;
    background: transparent;
    border: 3px solid #000;
    border-radius: 10px;
    font-size: 24px;
  }
  .brake {
    display: inherit;
  }
}

@media (max-width: 1272px) and (max-width: 768px) {
  .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .portfolio-img {
    width: 100vw;
    height: 100vw;
    background-position: center;
    background-size: cover;
  }
  .portfolio-img-5,
  .portfolio-img-6,
  .portfolio-img-8,
  .portfolio-img-9,
  .portfolio-img-10 {
    display: none;
  }
  .icons {
    width: 100%;
    margin-top: 66px;
    margin-bottom: 71px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 37.6vw;
        grid-template-columns: 37.6vw;
    grid-auto-columns: 37.6vw;
    -ms-grid-rows: (37.6vw)[5];
        grid-template-rows: repeat(5, 37.6vw);
    -webkit-column-gap: 30px;
            column-gap: 30px;
    row-gap: 25px;
    grid-auto-flow: column;
    justify-items: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .icon-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .icon-container .picture {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .submits-container {
    margin: 55px auto 0 auto;
    width: 265px;
  }
  input[type="checkbox"] {
    top: 5px;
    left: -3px !important;
  }
  .approval {
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 100%;
    margin-left: 0;
  }
  .check-text {
    -ms-grid-columns: 5px 200px;
        grid-template-columns: 5px 200px;
  }
  .icons-desktop {
    display: none;
  }
  .icons-mobile {
    display: -ms-grid;
    display: grid;
  }
}

.pl-open {
  height: 104px;
}

.option-hidden {
  display: none;
}

.arrow-rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.floating-input {
  position: relative;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 20px;
  font-size: 20px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  opacity: 0.5;
}

.floating-label-field {
  margin-top: 20px;
  width: calc(100% - 20px);
}

.floating-label-field:focus + .floating-label,
.floating-label-field:valid + .floating-label {
  font-size: 14px;
  color: #fff;
  -webkit-transform: translate3d(0, -42px, 0);
          transform: translate3d(0, -42px, 0);
  opacity: 1;
}

.floating-label-field {
  border-width: 0;
  color: rgba(44, 62, 80, 0.75);
}

.floating-label-field:focus {
  outline: 0;
  -webkit-box-shadow: 0;
          box-shadow: 0;
}

.floating-label-field::-webkit-input-placeholder {
  color: transparent;
}

.floating-label-field:-ms-input-placeholder {
  color: transparent;
}

.floating-label-field::-ms-input-placeholder {
  color: transparent;
}

.floating-label-field::placeholder {
  color: transparent;
}

input {
  padding: 0;
}
/*# sourceMappingURL=main.css.map */